@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<head>

</head>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <span class="copyright">&copy; 2022 Edward Zhong</span>
            </div>
            <div class="col-md-4">
                <ul class="social">
                    <li><a href="https://github.com/ezhong0/"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/edwardzhong0/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="mailto:edwardrzhong@gmail.com"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
