<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--<partial name="_PageHeadElement" /> -->
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <!-- Page content -->
    <div class="container-fluid p-0">
        <!-- Page content -->
        @RenderBody()
        <partial name="_Footer" />
    </div>

    <!--<partial name="_ThemeScripts" /> -->

    @RenderSection("Scripts", required: false)
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/07141a8549.js" crossorigin="anonymous"></script>
    <script src="js/login.js"></script>
</body>
</html>
