@model BugTracker.Views.Models.CreateaccModel
@{
    ViewData["Title"] = "Createacc";
}

<head>
    <link rel="stylesheet" href="css/login.css">
</head>
<div class="text-center img js-fullheight" style="background-image: url(bg3.jpeg); filter: brightness(100%)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5 mt-5">
                <a class="navbar-brand" style="font-size: 300%; font-style: italic; font-weight: bold; color: #008fbf " asp-action="Home"><i class="fas fa-kiwi-bird"></i>  Aerial</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center" style="font-size: 120%">Create Account</h3>
                    <form asp-controller="Home" asp-action="CreateAccount" class="signin-form" id="loginform" runat="server" method="POST">
                        <div class="form-group">
                            <input asp-for="Email" runat="server" type="text" class="form-control" placeholder="Email" style="font-size: 100%" required>
                        </div>
                        <div class="form-group">
                            <input asp-for="FirstName" runat="server" type="text" class="form-control" placeholder="First Name" style="font-size: 100%" required>
                        </div>
                        <div class="form-group">
                            <input asp-for="LastName" runat="server" type="text" class="form-control" placeholder="Last Name" style="font-size: 100%" required>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" runat="server" id="password-field" type="password" class="form-control" placeholder="Password" style="font-size: 100%" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
                        </div>
                        <div class="form-group d-md-flex text-left">
                            <div>
                                <a asp-action="ToLogin" style="color: #fff">Already have an account? Click here.</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/login.js"></script>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <span class="copyright">&copy; 2022 Edward Zhong</span>
            </div>
            <div class="col-md-4">
                <ul class="social">
                    <li><a href="https://github.com/ezhong0/"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/edwardzhong0/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="mailto:edwardrzhong@gmail.com"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>