@model BugTracker.Views.Models.LoginModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="css/login.css">
</head>
<div class="text-center img js-fullheight" style="background-image: url(bg1.jpeg); background-attachment: fixed; filter: brightness(120%)">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" style="font-style: italic; font-weight: bold; color: #008fbf " href="#page-top"><i class="fas fa-kiwi-bird"></i>  Aerial</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" asp-action="ToLogin">Login</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="ToCreateacc">Create Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end blurbox">
                    <h1 class="text-white font-weight-bold"><span style="color: #000000">Ship great software with automated bugtracking</span></h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5 blurbox"><span style="color: #000000">A simple, fast and scalable bug tracking system that helps you manage bugs easily and deliver great products on time.</span></p>
                    <a class="btn btn-primary btn-xl" asp-action="ToCreateacc"><span style="color: #FFFAF0; font-weight: bold ">Find Out More</span></a>
                </div>
            </div>
        </div>
    </header>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <span class="copyright">&copy; 2022 Edward Zhong</span>
            </div>
            <div class="col-md-4">
                <ul class="social">
                    <li><a href="https://github.com/ezhong0/"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/edwardzhong0/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="mailto:edwardrzhong@gmail.com"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>