@{
    ViewData["Title"] = "Ticket";
}

<head>
    <link rel="stylesheet" href="css/layout.css">
</head>
<body class="sb-nav-fixed">
    <partial name="Navbar" />
    <div id="layoutSidenav">
        <partial name="SideNavbar" />
        ticket
    </div>
</body>